
.wrapper-compare{
	background: #FFFFFF;
	color: #2E3038;
}

.ins-breadcrumb__progressbar{
	background-color: #FFFFFF;
	padding: 32px 0 16px;
	ul{
		list-style: none;
		margin-bottom: 0;
		padding: 0 8px;
		li{
			text-align: center;
			padding-top: 11px;
			padding-bottom: 11px;
			line-height: 14px;
			background-color: #FFFFFF;
			position: relative;
			color: #333;
			font-size: 15px;
			border-top: 1px solid #BEC0C8;
			border-bottom: 1px solid #BEC0C8;
			cursor: pointer;

			&.active::after{
				content: "";
				position: absolute;
				z-index: 1;
				top: 0;
				bottom: 0;
				margin: auto;
				left: 100%;
				width: 0;
				height: 0;
				border-top: 23px solid transparent;
				border-bottom: 23px solid transparent;
				border-left: 12px solid #f2f3f5;
			}

			&:not(.active):not(:last-child):after{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				right: -12px;
				z-index: 1;
				background: url("images/arrow-step.png") no-repeat center center;
				width: 12px;
				height: 48px;
			}

			&:first-child{
				border-left: 1px solid #BEC0C8;
			}

			&:last-child{
				border-right: 1px solid #BEC0C8;
			}

			.ins_reg-steps__container{
				display: inline-block;
				line-height: 24px;
				font-weight: 400;
				font-size: 15px;
				color: #2E3038;

				.step-icon, .step-index{
					width: 24px;
					height: 24px;
					border-radius: 100%;
					text-align: center;
					font-size: 14px;
					line-height: 24px;
					font-weight: 500;
					display: inline-block;
					float: left;
					margin-right: 16px;
					background-color: #F3F4F6;
				}

				.step-icon{
					background-color: #E53935;
					position: relative;
					display: none;
					.adr-icon{
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						margin: auto;
					}
				}
			}

			&.active{
				color: #fff;
				background-color: #E53935;
				border-color: #E53935;

				&:after{
					border-left-color: #E53935;
				}

				.ins_reg-steps__container{
					color: #FFFFFF;

					.step-index{
						color: #E53935;
						background-color: #FFFFFF;
					}
				}
			}
			&.done{
				.ins_reg-steps__container{
					.step-icon{
						display: inline-block;
					}
					.step-index{
						display: none;
					}
				}
			}
		}
	}
}

.ins-notification__bar{
	.notify_bar_content{
		background-color: #F3F4F6;
		padding: 16px;
		font-size: 16px;
		font-weight: 400;
		line-height: 33px;
		box-shadow: none;
		display: inline-block;
		margin: 0;
		width: 100%;

		.ins_notice__wrapper{
			min-height: 34px;
			position: relative;
		}

		.ins__show_chosen{
			position: absolute;
			left: 0;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
			width: 100%;
		}
		form.comf_view__result{
			display: flex;
			width: 100%;
			justify-content: flex-start;
			align-items: center;
			position: absolute;
			left: -9999px;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
			z-index: 9;

			.comf__result--date{
				font-size: 14px;
				font-weight: 400;
				line-height: 22px;
				color: #8E9098;
				b{
					font-weight: 400;
					color: #2E3038;
				}
			}

			.ins-dropdown_time{
				display: flex;
				margin-left: 11px;
				.insw_selectbox--holder{
					line-height: 18px;
				}
			}

			.conf_container_results{
				position: relative;
				margin-left: 16px;
				button.conf_show_results{
					line-height: 18px;
					padding-left: 63px;
					padding-right: 63px;
				}
				.ins_validation_tip_popover{
					bottom: -70px;
				}
			}
		}
		.ins__show_chosen{

		}


	}
}

.ins--page-heading{
	position: fixed;
	top: -100px;
	left: 0;
	right: 0;
	z-index: 999;
	transition: 0.4s top cubic-bezier(.3, .73, .3, .74);
	background-color: #FFFFFF;
	padding: 8px 0;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);

	&.ins_is-sticky{
		top: 0 !important;
	}

	.ins--head__content{
		border: 1px solid #D6D8E0;
		padding: 16px 8px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		color: #2E3038;
		line-height: 22px;

		.ins--head__brand-price{
			margin-left: 16px;

			.pck_name{
				margin: 0;
				font-size: 14px;
				font-weight: 500;
			}
			.ins-prc__per{
				font-weight: 400;
				b{
					color: #E53935;
					font-size: 15px;
					font-weight: 500;
					line-height: 24px;
				}
			}
		}

	}
}

#ins-packages-section{
	margin-top: 16px;
	.ins__nav-tabs--header{
		position: relative;
		width: 100%;
		display: inline-block;

		.nav-tabs{
			margin-bottom: 21px;
			border-bottom: 1px solid #BEC0C8;

			.ins__tab-header{
				margin-right: 10px;
				-webkit-transition: all 0.2s ease 0s;
				-o-transition: all 0.2s ease, 0s;
				transition: all 0.2s ease 0s;

				&:last-child{
					margin-right: 0;
				}

				&:not(.active){
					.ins-pk-tab_column{
						border-bottom: 1px solid #BEC0C8;
					}
				}

				.ins-pk-tab_column{
					padding: 12px 30px;
					margin: 0;
					font-size: 13px;
					font-weight: 400;
					line-height: 20px;
					text-align: center;
					color: #8E9098;
					border-radius: 4px 4px 0 0;
					-webkit-transition: all 0.2s ease 0s;
					-o-transition: all 0.2s ease, 0s;
					transition: all 0.2s ease 0s;
					border-top: 4px solid #BEC0C8;
					background: #F3F4F6;

					b{
						font-size: 16px;
						font-weight: 500;
						line-height: 24px;
						color: #2E3038;
						display: block;
					}
				}

				&:hover{
					.ins-pk-tab_column{
						border-top-color: #E53935;
					}
				}
			}

			.active{
				.ins-pk-tab_column{
					background: #FFFFFF;
					border-top-color: #E53935;
					b{
						color: #E53935;
					}
				}
			}
		}

	}

	.ins__nav-tabs--content{
		display: inline-block;
		margin-bottom: 60px;

		.ins__pk_main-col{
			border: 1px solid #BEC0C8;
			&.highlight__chosen{
				border-color: #E53935;
				-webkit-transition: all 0.2s ease 0s;
				-o-transition: all 0.2s ease, 0s;
				transition: all 0.2s ease 0s;
			}
			&:hover{
				box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
			}
			.pk__main_col--header{
				text-align: center;
				padding: 16px 0;
				.pk_ansinh{
					margin: 8px 0 0;
					font-size: 16px;
					font-weight: 500;
					line-height: 24px;
					color: #2E3038;
				}
				.pk_skike_price{
					font-size: 14px;
					font-weight: 400;
					line-height: 22px;
					color: #8E9098;

					.skike-price{
						position: relative;
						&:after{
							content: '';
							position: absolute;
							width: 100%;
							height: 1px;
							background: #8E9098;
							left: 0;
							top: 50%;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);
						}
					}
				}
				.pk_price_per-year{
					font-size: 14px;
					font-weight: 400;
					line-height: 22px;
					color: #2E3038;
					margin-top: 7px;

					b{
						font-weight: 500;
						line-height: 36px;
						color: #E53935;
						font-size: 24px;
					}
				}
				.pk__btn-register{
					margin-top: 8px;
					font-size: 16px;
					padding: 12px 68px;

				}
				.pk__limit-price{
					color: #8E9098;
					font-size: 13px;
					font-weight: 400;
					line-height: 20px;
					margin-top: 12px;

					> span{
						display: block;
						color: #2E3038;
						font-size: 20px;
						font-weight: 500;
						line-height: 32px;
					}
				}
			}
			.ins_each--item{
				padding-bottom: 16px;
				position: relative;

				&.has__view-more{
					.ins_content_benefits{
						margin-bottom: 16px;
					}

				}
				.pk__title{
					margin: 0;
					background: #BEC0C8;
					color: #FFFFFF;
					padding: 9px 16px;
					font-size: 14px;
					font-weight: 500;
					line-height: 22px;
				}

				.ins__has--view-more{
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-between;
					overflow: hidden;
				}

				ul.ins_content_benefits{
					list-style: none;
					margin: 0;
					padding: 0;
					li{
						padding: 16px;
						display: flex;
						justify-content: flex-start;
						align-items: flex-start;

						&:not(:first-child){
							padding-top: 0;
						}

						&:last-child{
							padding-bottom: 0;
						}

						.ins_icon--list, .ins_icon--tick{
							background-color: transparent;
							border: 0;
							font-size: 24px;
							text-align: center;
							line-height: 20px;
							color: #1CBE55;
						}

						.ins_col2_ben{
							margin-left: 18px;
							width: 100%;
							.pk_text_nor{
								color: #2E3038;
								font-size: 13px;
								font-weight: 400;
								line-height: 20px;
								span{
									color: #8E9098;
									font-weight: 400;
								}
							}
							b,.pk_text_fee_more{
								display: block;
								clear: both;
							}
							b{
								font-size: 14px;
								font-weight: 500;
								line-height: 22px;
								&.pk__fee-price_additional{
									color: #8E9098;
								}
							}
							.pk_text_fee_more{
								font-size: 13px;
								font-weight: 400;
								line-height: 20px;
								color: #8E9098;
								-webkit-transition: all 0.2s ease 0s;
								-o-transition: all 0.2s ease, 0s;
								transition: all 0.2s ease 0s;
							}
						}

						&.ins_style_ck{

							input[type="checkbox"] {
								position: absolute;
								left: -9999px;
							}

							input[type="checkbox"] + label {
								position: relative;
								cursor: pointer;
								padding: 0 0 0 20px;
								text-transform: initial;
							}

							input[type="checkbox"] + label:before {
								content: "";
								margin-right: 16px;
								display: inline-block;
								vertical-align: text-top;
								width: 20px;
								height: 20px;
								background: #FFFFFF;
								border: 2px solid #A6A8B0;
								position: absolute;
								left: 0;
								top: 0;
							}
							input[type="checkbox"]:hover + label:before {
								background: #E53935;
								border-color: #E53935;
							}
							input[type="checkbox"]:focus + label:before {
								box-shadow: 0 0 0 3px rgba(255, 255, 255, 1);
							}
							input[type="checkbox"]:checked + label:before {
								background: #E53935;
								border-color: #E53935;
							}
							input[type="checkbox"]:checked + label:after {
								content: "";
								position: absolute;
								left: 5px;
								top: 9px;
								background: white;
								width: 2px;
								height: 2px;
								box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
								-webkit-transform: rotate(45deg);
								transform: rotate(45deg);
							}

							.insw_selectbox--holder{
								margin: 6px 0 0;
								.ins__choose-list{
									li{
										padding: 12px 30px 12px 22px;
										border: 0;
									}
								}
							}

							.ins_col2_ben{

								.pk_text_fee_more{
									display: none;
								}
							}
						}

						&.not_available{
							.ins_icon--list{
								background-color: #FFFFFF;
								border: 2px solid #A6A8B0;
								color: #A6A8B0;
								border-radius: 50%;
								width: 24px;
								height: 21px;
								font-size: 15px;
								line-height: 20px;
							}
							.ins_col2_ben{
								.pk_text_nor{
									color: #8E9098;
									font-size: 14px;
									font-weight: 500;
									line-height: 22px;
								}
								.pk__fee--title{
									color: #8E9098;
								}
								.pk__fee-price_additional{
									font-weight: 400;
									line-height: 20px;
									font-size: 13px;
								}
							}
							&.ins_style_ck{
								input[type="checkbox"] + label:before, input[type="checkbox"]:hover + label:before {
									background: #F3F4F6;
									border: 2px solid #E8EAEE;
								}

								input[type="checkbox"]:focus + label:before{
									box-shadow: none;
								}
							}
						}

						.ins__bene--child{
							display: flex;
							align-items: flex-start;
							width: 100%;

							.insw__contain--select{
								display: none;
								-webkit-transition: all 0.2s ease 0s;
								-o-transition: all 0.2s ease, 0s;
								transition: all 0.2s ease 0s;
							}

							&.active{
								.ins_col2_ben{
									b{
										&.pk__fee-price_additional{
											color: #E53935;
										}
									}
									.pk_text_fee_more{
										display: block;
									}
								}
								.insw__contain--select{
									display: block;
								}
							}
						}

					}

					&.ins__bor_bottom{
						li{
							&:not(.not_available){
								flex-direction: column;
							}

							padding-top: 16px;
							&:not(:last-child){
								border-bottom: 1px solid #E8EAEE;
							}

							.ins__bene--child:not(:first-child){
								margin-top: 16px;
							}
						}
					}
				}

				button.ins_benefit--viewmore{
					&:focus{
						background: #FFFFFF;
					}
				}

				.ins__eq_accordion{
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-between;
					overflow: hidden;

					.ins_content_benefits{
						width: 100%;
						border-top: 1px solid #E8EAEE;
					}
				}

				.ins_item__accordion{
					padding: 16px;
					color: #2E3038;
					background: transparent;
					margin: 0;
					width: 100%;

					.panel-default{
						border: 0;
						box-shadow: none;
						.panel-heading{
							color: #8E9098;
							background: #FFFFFF;
							border: 0;
							font-size: 13px;
							line-height: 20px;
							padding: 0;
							> a{
								display: flex;
								justify-content: space-between;
								align-items: baseline;
								span{
									position: relative;
									&:before,&:after{
										color: #8E9098;
										font-size: 13px;
										font-weight: 400;
										line-height: 20px;
									}
									&:before{
										content: attr(data-clapse);
										padding-right: 19px;
									}
									&:after{
										content: "\EA07";
										color: #A6A8B0;
										font-family: adr-icon;
										font-size: 13px;
										-webkit-transform: rotate(90deg);
										-moz-transform: rotate(90deg);
										-ms-transform: rotate(90deg);
										-o-transform: rotate(90deg);
										transform: rotate(90deg);
										display: inline-block;
										position: absolute;
										top: 0;
										right: 0;
									}
								}
								&.collapsed{
									span{
										&:before{
											content: attr(data-expand);
										}
										&:after{
											content: "\EA07";
											-webkit-transform: rotate(-90deg);
											-moz-transform: rotate(-90deg);
											-ms-transform: rotate(-90deg);
											-o-transform: rotate(-90deg);
											transform: rotate(-90deg);
										}
									}
								}
								&:hover{
									color: #2E3038;
								}
							}
						}

						.panel-body{
							border: 0;
							padding: 0;
							margin-top: 10px;
							font-size: 14px;
							line-height: 22px;
						}
					}
				}

				.ins__detail--download{
					background: #F3F4F6;
					outline: none;
					padding: 8px 16px;
					color: #2E3038;
					font-size: 14px;
					font-weight: 400;
					line-height: 22px;
					width: 100%;
					border-radius: 4px;
					-webkit-transition: all 0.2s ease 0s;
					-o-transition: all 0.2s ease, 0s;
					transition: all 0.2s ease 0s;
					display: flex;
					align-items: center;

					&:hover{
						background: #E8EAEE;
					}
					&:focus, &:active{
						background: #E2E4EC;
					}

					i.adr-ins_dowload{
						font-size: 24px;
						margin-right: 16px;
					}
				}
			}
		}
	}
}