.wrapper-adr-insurance{
	position: relative;
	.insw_selectbox--holder{
		position: relative;
		width: 100%;
		margin: 0 4px;

		&:first-child{
			margin-left: 0;
		}
		&:last-child{
			margin-right: 0;
		}

		.insw__select-box{
			cursor: pointer;
			border: 1px solid #E2E4EC;
			border-radius: 4px;
			padding: 12px;
			height: auto;
			box-shadow: none;
			font-size: 15px;
			outline: none;
			min-width: 100px;
			text-align: left;
			background: #fff;

			.ins__current-choice{
				.selected-choice{
					color: #2E3038;
					font-size: 15px;
					font-weight: 400;
				}
				i.arrow-indicator{
					float: right;
					line-height: 30px;
					margin-right: 5px;
					margin-top: 4px;
				}
			}

			&.warning{
				border-color: #FF7043;
			}
		}

		ul.ins__choose-list{
			/*display: none;*/
			width: 100%;
			margin: 0;
			padding-left: 0;
			list-style-type: none;
			background: #FFFFFF;
			cursor: pointer;
			border-radius: 4px;
			position: absolute;
			z-index: 10;
			-webkit-transition: all 0.2s ease 0s;
			-o-transition: all 0.2s ease, 0s;
			transition: all 0.2s ease 0s;
			box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
			max-height: 200px;
			overflow-y: auto;

			li{
				width: 100%;
				padding: 12px 30px 12px 22px;
				text-align: left;
				-webkit-transition: all 0.2s ease 0s;
				-o-transition: all 0.2s ease, 0s;
				transition: all 0.2s ease 0s;
				color: #2E3038;
				line-height: 24px;
				font-size: 15px;
				font-weight: 400;

				&:hover{
					color: #8E9098;
				}

				&.ins_choiced{
					position: relative;
					&::after{
						content: "\EA5C";
						font-family: adr-icon;
						position: absolute;
						right: 0;
						top: 50%;
						font-size: 24px;
						color: #E53935;
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						-o-transform: translateY(-50%);
						transform: translateY(-50%);
					}

				}
			}

			&.menu-open{
				display: block;
			}
		}

		&.disabled{
			cursor: not-allowed;
			background-color: #eee;
			pointer-events: none;
			.insw__select-box{
				background-color: #eee;
			}
		}
	}

	button.conf_show_results{
		box-shadow: 0 3px 6px 0 rgba(0,0,0,0.15);
		background: linear-gradient(90deg, #EA512C 0%, #E53935 100%);
		color: #FFFFFF;
		font-size: 15px;
		font-weight: 500;
		line-height: 24px;
		text-align: center;
		padding: 12px 0;
		border: 0;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		outline: none;
		-webkit-transition: all 0.2s ease 0s;
		-o-transition: all 0.2s ease, 0s;
		transition: all 0.2s ease 0s;

		&:hover{
			background: linear-gradient(90deg, #CD4827 0%, #CA332F 100%);
		}

		&:focus{
			background: linear-gradient(90deg, #A93B20 0%, #A62A27 100%);
		}
	}

	.ins_validation_tip_popover{
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;
		color: #FFFFFF;
		background-color: #FF7043;
		padding: 3px 16px;
		border-radius: 4px;
		position: absolute;
		bottom: -48px;
		left: 0;
		text-align: left;
		display: none;
		z-index: 9;
	}

	.btn_ins-primary{
		background: linear-gradient(90deg, #EA512C 0%, #E53935 100%);
		color: #FFFFFF;
		font-size: 15px;
		font-weight: 500;
		line-height: 24px;
		text-align: center;
		padding: 12px 0;
		border: 0;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		outline: none;
		-webkit-transition: all 0.2s ease 0s;
		-o-transition: all 0.2s ease, 0s;
		transition: all 0.2s ease 0s;

		&:hover{
			background: linear-gradient(90deg, #CD4827 0%, #CA332F 100%);
		}

		&:focus, &:active{
			background: linear-gradient(90deg, #A93B20 0%, #A62A27 100%);
		}
		&[disabled]{
			background: #E8EAEE;
			color: #8E9098;
			box-shadow: none;
		}
	}

	.btn_ins-secondary{
		background: #FFFFFF;
		border: 1px solid #BEC0C8;
		color: #2E3038;
		font-size: 14px;
		font-weight: 500;
		line-height: 22px;
		text-align: center;
		padding: 5px 26px;
		outline: none;
		border-radius: 4px;
		-webkit-transition: all 0.2s ease 0s;
		-o-transition: all 0.2s ease, 0s;
		transition: all 0.2s ease 0s;

		&:hover{
			background: #E8EAEE;
			border-color: #8E9098;
		}
		&:focus, &:active{
			background-color: #E2E4EC;
		}
	}

	.adr-insurance-form{
		.ins__form-input{
			border: 1px solid #D6D8E0;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			padding: 12px 16px;
			box-shadow: none;
			color: #2E3038;
			font-size: 15px;
			font-weight: 400;
			line-height: 24px;
			height: 48px;
			&:focus{
				border-color: #2E3038;
			}
			&.warning{
				border-color: #FF7043;
			}

			&::placeholder {
				color: #8E9098;
				opacity: 1; /* Firefox */
			}

			&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				color: #8E9098;
			}

			&::-ms-input-placeholder { /* Microsoft Edge */
				color: #8E9098;
			}
		}

		textarea.form-control{
			min-height: 96px;
			resize: vertical;
		}

		.ins__form-radio[type="radio"]:checked,
		.ins__form-radio[type="radio"]:not(:checked) {
			position: absolute;
			left: -9999px;
		}
		.ins__form-radio[type="radio"]:checked + label,
		.ins__form-radio[type="radio"]:not(:checked) + label {
			position: relative;
			padding-left: 36px;
			cursor: pointer;
			line-height: 20px;
			display: inline-block;
			color: #666;
			text-transform: initial;
		}
		.ins__form-radio[type="radio"]:checked + label:before,
		.ins__form-radio[type="radio"]:not(:checked) + label:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 20px;
			height: 20px;
			border: 2px solid #A6A8B0;
			border-radius: 100%;
			background: #FFFFFF;
		}
		.ins__form-radio[type="radio"]:checked + label:before{
			background: #E53935;
			border-color: #E53935;
		}
		.ins__form-radio[type="radio"]:checked + label:after,
		.ins__form-radio[type="radio"]:not(:checked) + label:after {
			content: '';
			width: 8px;
			height: 8px;
			background: #FFFFFF;
			position: absolute;
			top: 6px;
			left: 6px;
			border-radius: 100%;
			-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
		}
		.ins__form-radio[type="radio"]:not(:checked) + label:after {
			opacity: 0;
			-webkit-transform: scale(0);
			transform: scale(0);
		}
		.ins__form-radio[type="radio"]:checked + label:after {
			opacity: 1;
			-webkit-transform: scale(1);
			transform: scale(1);
		}

		.ins__form-checkbox[type="checkbox"] {
			position: absolute;
			left: -9999px;
		}

		.ins__form-checkbox[type="checkbox"] + label {
			position: relative;
			cursor: pointer;
			padding: 0 0 0 20px;
			text-transform: initial;
		}

		.ins__form-checkbox[type="checkbox"] + label:before {
			content: "";
			margin-right: 16px;
			display: inline-block;
			vertical-align: text-top;
			width: 20px;
			height: 20px;
			background: #FFFFFF;
			border: 2px solid #A6A8B0;
			position: absolute;
			left: 0;
			top: 0;
		}
		.ins__form-checkbox[type="checkbox"]:hover + label:before {
			background: #E53935;
			border-color: #E53935;
		}
		.ins__form-checkbox[type="checkbox"]:focus + label:before {
			box-shadow: 0 0 0 3px rgba(255, 255, 255, 1);
		}
		.ins__form-checkbox[type="checkbox"]:checked + label:before {
			background: #E53935;
			border-color: #E53935;
		}
		.ins__form-checkbox[type="checkbox"]:checked + label:after {
			content: "";
			position: absolute;
			left: 5px;
			top: 9px;
			background: white;
			width: 2px;
			height: 2px;
			box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}

		.ins__field-uploads{
			.ins__form-file[type="file"] {
				display: none;
			}
			.ins__form-file--label{
				float: left;
				clear: both;
				min-width: 232px;
				text-align: center;
				transition: all .2s ease;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				text-transform: initial;

				.ins__select-area{
					border: 2px dashed #D6D8E0;
					background: #fff;
					border-radius: 4px;
					padding: 23px;
					&:hover, &[data-hover="1"] {
						border-color: #2E3038;
					}

					.ins__icon-picture{
						width: 24px;
						height: 24px;
						font-size: 24px;
						color: #A6A8B0;
					}
					.ins_rev__drag-here{
						color: #8E9098;
						font-size: 15px;
						font-weight: 400;
						line-height: 24px;
						margin-top: 9px;
						display: block;
					}
					.btn-ins_upload{
						cursor: pointer;
						display: inline-block;
						clear: both;
						background-color: #F3F4F6;
						color: #2E3038;
						font-size: 14px;
						font-weight: 500;
						line-height: 22px;
						text-align: center;
						margin-top: 12px;
						padding: 5px 20px;
					}
				}

			}
			.ins__response-area{
				border: 1px solid #D6D8E0;
				padding: 4px;
				min-width: 232px;
				float: left;
				>img{
					max-width: 60px;
					margin-right: 16px;
					float: left;
					cursor: pointer;
				}
				#ins__upload-messages{
					float: left;
					margin-right: 30px;
					span{
						word-break: break-all;
						white-space: pre-line;
						font-size: 15px;
						font-weight: 400;
						line-height: 24px;
					}
				}
				.ins__rev_close{
					height: 24px;
					width: 24px;
					font-size: 24px;
					color: #A6A8B0;
					cursor: pointer;
				}
			}
		}

		.ins_validate--input{
			color: #FF7043;
			margin-top: 5px;
			font-size: 13px;
			font-weight: 400;
			line-height: 20px;
			display: block;
		}
	}

	.ins-adr__chat-online{
		cursor: pointer;
		position: fixed;
		right: 16px;
		bottom: 16px;
		background-color: #2283F7;
		border-radius: 512px;
		display: flex;
		color: #FFFFFF;
		align-items: center;
		z-index: 99;
		.chat-icon{
			background-color: rgba(0, 0, 0, 0.22);
			padding: 10px;
			border-radius: 50%;
			.icon-message{
				font-size: 24px;
				color: #FFFFFF;
			}
		}
		.chat-text{
			margin-left: 18px;
			margin-right: 24px;
			font-size: 15px;
			font-weight: 500;
			line-height: 24px;
		}
	}
}

.ins-slider-container{
	background:#E5F3FF;

	.row_inner_ins--slider{
		position: relative;
	}

	.form-comf__result{
		position: absolute;
		right: 0;
		top: 32px;
		width: 400px;
		float: right;
		padding: 32px;
		text-align: center;
		border-radius: 4px;
		background-color: #FFFFFF;
		box-shadow: 0 3px 6px 0 rgba(0,0,0,0.15);

		.comf__result--name{
			font-size: 20px;
			font-weight: 500;
			line-height: 32px;
			color: #2E3038;
			margin: 0 0 22px;
		}
		.comf__result--date{
			font-size: 14px;
			font-weight: 400;
			line-height: 22px;
			color: #8E9098;
			margin-bottom: 20px;

			span{
				color: #2E3038;
			}
		}
		.comf_view__result{
			float: left;
			width: 100%;
			position: relative;

			.ins-dropdown_time{
				display: flex;
				justify-content: space-between;
			}
			.conf_show_results{
				width: 100%;
				margin-top: 16px;
			}

			label{

				&:nth-child(2){
					margin: 0 8px;
				}

				&:first-child{
					margin-left: 0;
				}

				&:last-child{
					margin-right: 0;
				}
			}

		}

		.conf_chat_phone{
			margin-top: 28px;
			clear: both;
			display: inline-block;
			width: 100%;

			.ins-conf_bgico{
				background: #F3F4F6;
				width: 48px;
				height: 48px;
				border-radius: 50%;
				line-height: 48px;
				text-align: center;
				display: inline-block;

				i{
					color: #2E3038;
					font-size: 24px;
					line-height: 48px;
				}
			}
			.conf-need__supports{
				display: flex;
				justify-content: flex-start;

				.need_sp_text{
					text-align: left;
					margin-left: 16px;
					display: flex;
					flex-direction: column;
					justify-content: center;

					.need_sp_text_line__1{
						font-size: 13px;
						color: #8E9098;
						font-weight: 400;
						line-height: 20px;
					}

					.need_sp_text_line__2{
						display: block;
						color: #2E3038;
						font-size: 16px;
						font-weight: 500;
						line-height: 24px;
					}

				}

			}

		}
	}
}

.ins-promotion--banner-container{
	padding: 32px 0;
	background: #FFFFFF;
	img{
		width: 100%;
	}
}

.ins-fees{
	padding: 64px 0;
	background: #FFFFFF;

	.left-fees-section{
		color: #2E3038;
		font-size: 16px;
		.fee__only,.fee__benefit-to{
			font-family: Roboto,Helvetica Neue,Helvetica,Arial,Sans-serif;
			margin: 0;
			font-size: 28px;
			font-weight: 400;
			line-height: 32px;
		}
		.fee__only{
			margin-top: 32px;
			text-transform: uppercase;
		}
		.fee__price{
			font-family: Roboto,Helvetica Neue,Helvetica,Arial,Sans-serif;
			font-size: 48px;
			font-weight: 500;
			line-height: 57px;
			margin-top: 9px;
		}
		.fee__benefit-to{
			margin-top: 10px;
			margin-bottom: 11px;
		}
	}

	.right-fees-section{
		.fee__brand{
			&:nth-child(n+3){
				margin-top: 16px;
			}
			.ins__brand--link{
				border: 1px solid #E2E4EC;
				border-radius: 4px;
				background-color: #FFFFFF;
				height: 100%;
			}

			.ins__brand--img{
				text-align: center;
				padding: 18px;
				display: flex;
				align-items: center;
				justify-content: center;
				img{
					width: 216px;
					height: 88px;
					margin: 0 auto;
				}
			}
		}

	}
}

.ins-benefit-section{
	background: #F3F4F6;
	.ins__row-benefit{

		.left__benefit-sec24{
			img{
				max-width: 100%;
			}
		}

		.ben_container__right{
			padding: 86px 0 110px 60px;
			font-size: 16px;
			font-weight: 400;
			line-height: 26px;
			color: #8E9098;

			.benefit__name{
				font-family: Roboto,Helvetica Neue,Helvetica,Arial,Sans-serif;
				font-size: 28px;
				line-height: 40px;
				text-transform: uppercase;
				margin: 0;
				color: #2E3038;
			}

			.benefit_hour{
				color: #2E3038;
				font-size: 48px;
				font-weight: 500;
				line-height: 60px;
				margin: 4px 0 9px;
			}
		}

	}
}

.ins-choose-fit{
	background: #FFFFFF;

	.ins__row--yfriend{
		/*background: url("images/banner3.png") no-repeat top right;*/
	}

	.left_choose--benefit{
		padding-top: 64px;
		color: #8E9098;
		font-size: 16px;
		font-weight: 500;
		line-height: 26px;
		padding-bottom: 64px;

		.choose__fit_only{
			color: #2E3038;
			font-size: 28px;
			line-height: 32px;
			margin: 0;
		}

		.choose__fit_you-friend{
			color: #2E3038;
			margin: 10px 0 0;
			font-size: 48px;
			line-height: 60px;
			text-transform: uppercase;
		}

		.choose__options-fit{
			margin: 22px 0 25px;
			width: 100%;
			clear: both;
			float: left;

			.item{
				cursor: pointer;
				position: relative;
				height: 114px;
				width: 132px;
				border-radius: 4px;
				background-color: #FFFFFF;
				border: 1px solid #E2E4EC;
				text-align: center;
				color: #2E3038;
				line-height: 24px;
				-webkit-transition: all 0.2s ease 0s;
				-o-transition: all 0.2s ease, 0s;
				transition: all 0.2s ease 0s;
				margin: 0 8px;
				float: left;
				display: flex;
				flex-direction: column;
				justify-content: center;

				&:hover{
					border: 2px solid #E53935;
				}

				&:first-child{
					margin-left: 0;
				}

				&:last-child{
					margin-right: 0;
				}

				.item__name{
					display: block;
					margin-top: 12px;
				}

				&.ins__fit--active{
					&::after{
						content: '\EA5C';
						font-family: adr-icon;
						position: absolute;
						right: 8px;
						top: 8px;
						width: 24px;
						height: 24px;
						font-size: 24px;
						background: #1CBE55;
						line-height: 27px;
						color: #FFFFFF;
						border-radius: 50%;
					}
				}
			}

			.ins-fit__plus{
				float: left;
				margin-top: 45px;
				font-size: 24px;
			}

		}
	}
}

.ins-video-section{
	background-color: #F3F4F6;
	padding: 32px 0 128px;

	.ins__video--promotion{
		border-radius: 4px;
		background-color: #FFFFFF;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.06);
		padding: 4px 4px 0;

		> video{
			width: 100%;
		}
	}

	.ins__swiper-video{
		margin-top: 69px;
		.ins_main-content_slider{
			max-width: 395px;
			margin: 0 auto;
			color: #2E3038;
			font-size: 24px;
			font-weight: 400;
			line-height: 38px;
			text-align: center;
		}

		.swiper-button-next,.swiper-button-prev{
			color: #2E3038;
			background-image: none;
			top: 35%;
		}

		.swiper-button-prev{
			left: 20px;
		}

		.swiper-button-next{
			right: 20px;
		}

		&.swiper-container-horizontal{

			>.swiper-pagination-bullets{
				bottom: 0 !important;
				left: 0 !important;
				padding: 16px 0;
				display: flex;
				align-items: center;
				justify-content: center;

				.swiper-pagination-bullet{
					width: 12px;
					height: 12px;
					border-radius: 12px;
					border: 2px solid #FFFFFF;
					background-color: rgba(0,0,0,0.4);

					&.swiper-pagination-bullet-active{
						width: 16px;
						height: 16px;
						background-color: #E53935;
					}
				}
			}

			.swiper-wrapper{
				margin-bottom: 70px;
			}
		}
	}

}

.ins-knowledge-section{
	position: relative;
	background: #FFFFFF;
	padding: 152px 0 64px;

	.ins__found-insurance{
		position: absolute;
		top: -96px;
		left: 0;
		text-align: center;
		width: 100%;

		.form-comf__result{
			border-radius: 4px;
			background-color: #FFFFFF;
			box-shadow: 0 3px 6px 0 rgba(0,0,0,0.15);
			padding: 24px 24px 32px;
			color: #2E3038;
			margin: 0 0 10px;

			.comf__result--name{
				font-size: 20px;
				font-weight: 500;
				line-height: 32px;
				margin: 0 0 10px;
			}
			.comf__result--date{
				font-size: 14px;
				font-weight: 400;
				line-height: 22px;
				margin: 0 0 20px;
				color: #8E9098;

				span{
					color: #2E3038;
				}
			}

			.comf_view__result{
				display: flex;
				flex-wrap: wrap;
				justify-content: center;

				.ins-dropdown_time{
					display: flex;
					.insw_label__custom{
						margin-right: 8px;

						.comf_column{
							padding-right: 52px;
							width: auto;
						}
					}
				}

				.conf_container_results{
					margin-left: 16px;
					position: relative;

					button.conf_show_results{
						font-size: 16px;
						padding: 12px 99px;
					}

				}

			}
		}
	}

	.ins__page-insurance-adr{
		.ins-sec__title{
			text-align: center;
			margin: 0;
		}
		.row--knl-columns{
			margin-top: 48px;

			.know__adr-column{
				border: 1px solid #E2E4EC;
				border-radius: 4px;
				position: relative;
				height: 100%;
				-webkit-transition: all 0.2s ease 0s;
				-o-transition: all 0.2s ease, 0s;
				transition: all 0.2s ease 0s;
				&:hover{
					border-color: #E53935;
					
					.knowl-sec_more i{
						color: #E53935;
					}
				}
				
				a.know__link{
					display: inline-block;
					height: 100%;
					padding: 24px 24px 40px;
				}

				i.icon__know-active{
					font-size: 42px;
					color: #E53935;
					display: block;
				}
				b{
					color: #2E3038;
					font-size: 18px;
					line-height: 28px;
					font-weight: 500;
					margin-top: 35px;
					display: inline-block;
				}
				.knowl-sec_more{
					position: absolute;
					right: 16px;
					bottom: 16px;
					i.ins_icon--next-q{
						font-size: 24px;
					}
				}
			}
		}
	}
}

.ins-frequently-question{
	padding: 16px 0;
	background: #FFFFFF;
	text-align: center;

	.ins-fq__name{
		margin: 0 0 48px;
		color: #2E3038;
		font-size: 32px;
		font-weight: 500;
		line-height: 40px;
	}

	.ins-fq__column{
		border: 1px solid #E2E4EC;
		border-radius: 4px;
		padding: 24px;
		position: relative;
		height: 100%;
		text-align: left;
		color: #8E9098;
		font-size: 14px;
		line-height: 22px;

		.ins-title{
			color: #2E3038;
			font-size: 20px;
			font-weight: 500;
			line-height: 32px;
			margin: 0 0 8px;
		}
	}

	.ins__view-all{
		margin: 32px 0 47px;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		padding: 12px 102px;
		border: 0;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		outline: none;
		color: #2E3038;
		background-color: #F3F4F6;
		display: inline-block;
		-webkit-transition: all 0.2s ease 0s;
		-o-transition: all 0.2s ease, 0s;
		transition: all 0.2s ease 0s;

		&:hover{
			background-color: #E8EAEE;
		}

		&:focus{
			background-color: #E2E4EC;
		}

	}
}