@media (min-width: 640px) {
	.ins__modal-confirm{
		.modal-dialog{
			width: 288px;
		}
	}

}

@media screen and (max-width: 1023px) {
	.ins--page-heading.ins_is-sticky{
		display: none !important;
	}
}
@media screen and (max-width: 639px) {
	.ins-breadcrumb__progressbar {
		ul {
			li {
				.ins_reg-steps__container {
					.step-index{
						float: none;
					}
					.ins__bread-text{
						display: block;
						font-size: 12px;
					}
				}
			}
		}

	}
}