/* Style Css */
/* Font icon */
@font-face {
  font-family: 'adr-icon';
  src: url('fonts/icomoon.eot?6lkqhs');
  src: url('fonts/icomoon.eot?6lkqhs#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?6lkqhs') format('truetype'), url('fonts/icomoon.woff?6lkqhs') format('woff'), url('fonts/icomoon.svg?6lkqhs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
Landing Page*/
.icon-increase:before {
  content: "\e903";
}
.icon-next:before {
  content: "\e904";
}
.wrapper-adr-insurance .comf_view__result .insw_label__custom {
  position: relative;
  width: 100%;
  margin-bottom: 0;
}
.wrapper-adr-insurance .comf_view__result .insw_label__custom select.comf_column {
  color: #888;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: 1px solid #E2E4EC;
  border-radius: 4px;
  padding: 12px;
  height: auto;
  box-shadow: none;
  font-size: 15px;
}
.wrapper-adr-insurance .comf_view__result .insw_label__custom:after {
  content: '>';
  font: 18px "Consolas", monospace;
  color: #A6A8B0;
  -webkit-transform: translateY(-50%) rotate(90deg);
  -moz-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
  right: 8px;
  top: 46%;
  padding: 0 0 2px;
  position: absolute;
  pointer-events: none;
}
.wrapper-adr-insurance .comf_view__result .insw_label__custom:before {
  content: '';
  right: 6px;
  top: 0;
  background: #FFFFFF;
  position: absolute;
  pointer-events: none;
  display: block;
}
.wrapper-adr-insurance .comf_view__result button.conf_show_results {
  background: linear-gradient(90deg, #EA512C 0%, #E53935 100%);
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  padding: 12px 0;
  border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
}
.ins-slider-container {
  background: #E5F3FF url("images/banner1.png") no-repeat top center;
  padding: 32px 0;
}
.ins-slider-container .text__slogan {
  padding: 65px 0;
}
.ins-slider-container .text__slogan .ins__title {
  font-size: 57px;
  font-weight: 500;
  line-height: 68px;
  color: #013259;
  margin: 0;
}
.ins-slider-container .text__slogan .ins__description {
  margin: 7px 0 0;
  font-size: 19px;
  font-weight: 500;
  line-height: 37px;
  color: #206189;
}
.ins-slider-container .form-comf__result {
  width: 400px;
  float: right;
  padding: 32px;
  text-align: center;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
}
.ins-slider-container .form-comf__result .comf__result--name {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: #2E3038;
  margin: 0 0 22px;
}
.ins-slider-container .form-comf__result .comf__result--date {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #8E9098;
  margin-bottom: 20px;
}
.ins-slider-container .form-comf__result .comf__result--date span {
  color: #2E3038;
}
.ins-slider-container .form-comf__result .comf_view__result .ins-dropdown_time {
  display: flex;
  justify-content: space-between;
}
.ins-slider-container .form-comf__result .comf_view__result .conf_show_results {
  width: 100%;
  margin-top: 16px;
}
.ins-slider-container .form-comf__result .comf_view__result label:nth-child(2) {
  margin: 0 8px;
}
.ins-slider-container .form-comf__result .comf_view__result label:first-child {
  margin-left: 0;
}
.ins-slider-container .form-comf__result .comf_view__result label:last-child {
  margin-right: 0;
}
.ins-slider-container .form-comf__result .conf_chat_phone {
  margin-top: 28px;
}
.ins-slider-container .form-comf__result .conf_chat_phone .conf_phone--hotline {
  display: flex;
  justify-content: space-between;
}
.ins-slider-container .form-comf__result .conf_chat_phone .conf_phone--hotline .ins-conf_bgico {
  background: #F3F4F6;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  line-height: 48px;
  text-align: center;
  display: inline-block;
}
.ins-slider-container .form-comf__result .conf_chat_phone .conf_phone--hotline .ins-conf_bgico i {
  color: #2E3038;
  font-size: 18px;
  line-height: 48px;
}
.ins-slider-container .form-comf__result .conf_chat_phone .conf_phone--hotline .conf-need__supports {
  display: flex;
  justify-content: flex-start;
}
.ins-slider-container .form-comf__result .conf_chat_phone .conf_phone--hotline .conf-need__supports .need_sp_text {
  text-align: left;
  margin-left: 16px;
}
.ins-slider-container .form-comf__result .conf_chat_phone .conf_phone--hotline .conf-need__supports .need_sp_text .need_sp_text_line__1 {
  font-size: 13px;
  color: #8E9098;
  font-weight: 400;
  line-height: 20px;
}
.ins-slider-container .form-comf__result .conf_chat_phone .conf_phone--hotline .conf-need__supports .need_sp_text .need_sp_text_line__2 {
  display: block;
  color: #2E3038;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.ins-promotion--banner-container {
  padding: 32px 0;
  background: #FFFFFF;
}
.ins-promotion--banner-container > img {
  width: 100%;
}
.ins-fees {
  padding: 64px 0;
  background: #FFFFFF;
}
.ins-fees .left-fees-section {
  color: #2E3038;
  font-size: 16px;
}
.ins-fees .left-fees-section .fee__only,
.ins-fees .left-fees-section .fee__benefit-to {
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, Sans-serif;
  margin: 0;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
}
.ins-fees .left-fees-section .fee__only {
  margin-top: 32px;
  text-transform: uppercase;
}
.ins-fees .left-fees-section .fee__price {
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, Sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 57px;
  margin-top: 9px;
}
.ins-fees .left-fees-section .fee__benefit-to {
  margin-top: 10px;
  margin-bottom: 11px;
}
.ins-fees .right-fees-section .fee__brand:nth-child(n+3) {
  margin-top: 16px;
}
.ins-fees .right-fees-section .fee__brand .ins__brand--link {
  border: 1px solid #E2E4EC;
  border-radius: 4px;
  background-color: #FFFFFF;
}
.ins-fees .right-fees-section .fee__brand .ins__brand--img {
  text-align: center;
  padding: 18px 0;
}
.ins-benefit-section {
  background: #F3F4F6;
}
.ins-benefit-section .ins__row-benefit {
  background: url("images/banner2.png") no-repeat top left;
}
.ins-benefit-section .ins__row-benefit .ben_container__right {
  padding: 86px 0 110px 60px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #8E9098;
}
.ins-benefit-section .ins__row-benefit .ben_container__right .benefit__name {
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, Sans-serif;
  font-size: 28px;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0;
  color: #2E3038;
}
.ins-benefit-section .ins__row-benefit .ben_container__right .benefit_hour {
  color: #2E3038;
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  margin: 4px 0 9px;
}
.ins-choose-fit {
  background: #FFFFFF;
}
.ins-choose-fit .ins__row--yfriend {
  background: url("images/banner3.png") no-repeat top right;
  padding-top: 64px;
}
.ins-choose-fit .left_choose--benefit {
  color: #8E9098;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  padding-bottom: 64px;
}
.ins-choose-fit .left_choose--benefit .choose__fit_only {
  color: #2E3038;
  font-size: 28px;
  line-height: 32px;
  margin: 0;
}
.ins-choose-fit .left_choose--benefit .choose__fit_you-friend {
  color: #2E3038;
  margin: 10px 0 0;
  font-size: 48px;
  line-height: 60px;
  text-transform: uppercase;
}
.ins-choose-fit .left_choose--benefit .choose__options-fit {
  margin: 22px 0 25px;
  width: 100%;
  clear: both;
  float: left;
}
.ins-choose-fit .left_choose--benefit .choose__options-fit .item {
  cursor: pointer;
  position: relative;
  height: 114px;
  width: 132px;
  border-radius: 4px;
  background-color: #FFFFFF;
  border: 1px solid #E2E4EC;
  text-align: center;
  color: #2E3038;
  line-height: 24px;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease, 0s;
  transition: all 0.2s ease 0s;
  margin: 0 8px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ins-choose-fit .left_choose--benefit .choose__options-fit .item:hover {
  border: 2px solid #E53935;
}
.ins-choose-fit .left_choose--benefit .choose__options-fit .item:first-child {
  margin-left: 0;
}
.ins-choose-fit .left_choose--benefit .choose__options-fit .item:last-child {
  margin-right: 0;
}
.ins-choose-fit .left_choose--benefit .choose__options-fit .item .item__name {
  display: block;
  margin-top: 12px;
}
.ins-choose-fit .left_choose--benefit .choose__options-fit .item i.ins-fit__active {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 24px;
  height: 24px;
  font-size: 24px;
  background: #1CBE55;
  line-height: 27px;
}
.ins-choose-fit .left_choose--benefit .choose__options-fit .ins-fit__plus {
  float: left;
  margin-top: 45px;
  font-size: 24px;
}
.ins-video-section {
  background-color: #F3F4F6;
  padding: 32px 0 128px;
}
.ins-video-section .ins__video--promotion {
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.06);
  padding: 4px 4px 0;
}
.ins-video-section .ins__video--promotion > video {
  width: 100%;
}
.ins-video-section .ins__swiper-video {
  margin-top: 69px;
}
.ins-video-section .ins__swiper-video .ins_main-content_slider {
  max-width: 395px;
  margin: 0 auto;
  color: #2E3038;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  text-align: center;
}
.ins-video-section .ins__swiper-video .swiper-button-next,
.ins-video-section .ins__swiper-video .swiper-button-prev {
  color: #2E3038;
  background-image: none;
  top: 35%;
}
.ins-video-section .ins__swiper-video .swiper-button-prev {
  left: 20px;
}
.ins-video-section .ins__swiper-video .swiper-button-next {
  right: 20px;
}
.ins-video-section .ins__swiper-video.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0 !important;
  left: 0 !important;
  padding: 16px 0;
}
.ins-video-section .ins__swiper-video.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  border: 2px solid #FFFFFF;
  background-color: rgba(0, 0, 0, 0.4);
}
.ins-video-section .ins__swiper-video.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  background-color: #E53935;
}
.ins-video-section .ins__swiper-video.swiper-container-horizontal .swiper-wrapper {
  margin-bottom: 70px;
}
.ins-knowledge-section {
  position: relative;
  background: #FFFFFF;
  padding: 152px 0 64px;
}
.ins-knowledge-section .ins__found-insurance {
  position: absolute;
  top: -96px;
  left: 0;
  text-align: center;
  width: 100%;
}
.ins-knowledge-section .ins__found-insurance .form-comf__result {
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  padding: 24px 24px 32px;
  color: #2E3038;
  margin: 0 0 10px;
}
.ins-knowledge-section .ins__found-insurance .form-comf__result .comf__result--name {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin: 0 0 10px;
}
.ins-knowledge-section .ins__found-insurance .form-comf__result .comf__result--date {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 20px;
  color: #8E9098;
}
.ins-knowledge-section .ins__found-insurance .form-comf__result .comf__result--date span {
  color: #2E3038;
}
.ins-knowledge-section .ins__found-insurance .form-comf__result .comf_view__result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ins-knowledge-section .ins__found-insurance .form-comf__result .comf_view__result .ins-dropdown_time {
  display: flex;
}
.ins-knowledge-section .ins__found-insurance .form-comf__result .comf_view__result .ins-dropdown_time .insw_label__custom {
  margin-right: 8px;
}
.ins-knowledge-section .ins__found-insurance .form-comf__result .comf_view__result .ins-dropdown_time .insw_label__custom .comf_column {
  padding-right: 52px;
  width: auto;
}
.ins-knowledge-section .ins__found-insurance .form-comf__result .comf_view__result button.conf_show_results {
  font-size: 16px;
  padding: 12px 99px;
  margin-left: 8px;
}
.ins-knowledge-section .ins__page-insurance-adr .ins-sec__title {
  text-align: center;
  margin: 0;
}
.ins-knowledge-section .ins__page-insurance-adr .row--knl-columns {
  margin-top: 48px;
}
.ins-knowledge-section .ins__page-insurance-adr .row--knl-columns .know__adr-column {
  border: 1px solid #E2E4EC;
  border-radius: 4px;
  padding: 24px 24px 40px;
  position: relative;
  height: 100%;
}
.ins-knowledge-section .ins__page-insurance-adr .row--knl-columns .know__adr-column > i {
  font-size: 42px;
  color: #E53935;
}
.ins-knowledge-section .ins__page-insurance-adr .row--knl-columns .know__adr-column b {
  color: #2E3038;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  margin-top: 15px;
  display: inline-block;
}
.ins-knowledge-section .ins__page-insurance-adr .row--knl-columns .know__adr-column .knowl-sec_more {
  position: absolute;
  right: 16px;
  bottom: 16px;
}
.ins-knowledge-section .ins__page-insurance-adr .row--knl-columns .know__adr-column .knowl-sec_more i.ins_icon--next-q {
  font-size: 24px;
}
.ins-frequently-question {
  padding: 16px 0;
  background: #FFFFFF;
  text-align: center;
}
.ins-frequently-question .ins-fq__name {
  margin: 0 0 48px;
  color: #2E3038;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
}
.ins-frequently-question .ins-fq__column {
  border: 1px solid #E2E4EC;
  border-radius: 4px;
  padding: 24px;
  position: relative;
  height: 100%;
  text-align: left;
  color: #8E9098;
  font-size: 14px;
  line-height: 22px;
}
.ins-frequently-question .ins-fq__column .ins-title {
  color: #2E3038;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin: 0 0 8px;
}
.ins-frequently-question .ins__view-all {
  margin: 32px 0 47px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 12px 102px;
  border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  color: #2E3038;
  background-color: #F3F4F6;
  display: inline-block;
}
