/* Style Css */
/* Font icon */
@font-face {
  font-family: 'adr-icon';
  src: url('fonts/icomoon.eot?6lkqhs');
  src: url('fonts/icomoon.eot?6lkqhs#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?6lkqhs') format('truetype'), url('fonts/icomoon.woff?6lkqhs') format('woff'), url('fonts/icomoon.svg?6lkqhs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-decrease:before {
  content: "\e902";
}
.icon-increase:before {
  content: "\e903";
}
.icon-next:before {
  content: "\e904";
}
.icon-back:before {
  content: "\e905";
}
.icon-message:before {
  content: "\e906";
}
.icon-phone-new:before {
  content: "\e907";
}
.icon-web:before {
  content: "\e908";
}
.icon-email:before {
  content: "\e909";
}
.icon-error:before {
  content: "\e90a";
}
.icon-mailbox:before {
  content: "\e90b";
}
.icon-success-new:before {
  content: "\e90c";
}
/*
Landing Page*/
.wrapper-adr-insurance .comf_view__result .insw_label__custom {
  position: relative;
  width: 100%;
  margin-bottom: 0;
}
.wrapper-adr-insurance .comf_view__result .insw_label__custom select.comf_column {
  color: #888;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: 1px solid #E2E4EC;
  border-radius: 4px;
  padding: 12px;
  height: auto;
  box-shadow: none;
  font-size: 15px;
}
.wrapper-adr-insurance .comf_view__result .insw_label__custom:after {
  content: '>';
  font: 18px "Consolas", monospace;
  color: #A6A8B0;
  -webkit-transform: translateY(-50%) rotate(90deg);
  -moz-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
  right: 8px;
  top: 46%;
  padding: 0 0 2px;
  position: absolute;
  pointer-events: none;
}
.wrapper-adr-insurance .comf_view__result .insw_label__custom:before {
  content: '';
  right: 6px;
  top: 0;
  background: #FFFFFF;
  position: absolute;
  pointer-events: none;
  display: block;
}
.wrapper-adr-insurance .comf_view__result button.conf_show_results {
  background: linear-gradient(90deg, #EA512C 0%, #E53935 100%);
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  padding: 12px 0;
  border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
}
.ins-slider-container {
  background: #E5F3FF url("images/banner1.png") no-repeat top center;
  padding: 32px 0;
}
.ins-slider-container .text__slogan {
  padding: 65px 0;
}
.ins-slider-container .text__slogan .ins__title {
  font-size: 57px;
  font-weight: 500;
  line-height: 68px;
  color: #013259;
  margin: 0;
}
.ins-slider-container .text__slogan .ins__description {
  margin: 7px 0 0;
  font-size: 19px;
  font-weight: 500;
  line-height: 37px;
  color: #206189;
}
.ins-slider-container .form-comf__result {
  width: 400px;
  float: right;
  padding: 32px;
  text-align: center;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
}
.ins-slider-container .form-comf__result .comf__result--name {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: #2E3038;
  margin: 0 0 22px;
}
.ins-slider-container .form-comf__result .comf__result--date {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #8E9098;
  margin-bottom: 20px;
}
.ins-slider-container .form-comf__result .comf__result--date span {
  color: #2E3038;
}
.ins-slider-container .form-comf__result .comf_view__result .ins-dropdown_time {
  display: flex;
  justify-content: space-between;
}
.ins-slider-container .form-comf__result .comf_view__result .conf_show_results {
  width: 100%;
  margin-top: 16px;
}
.ins-slider-container .form-comf__result .comf_view__result label:nth-child(2) {
  margin: 0 8px;
}
.ins-slider-container .form-comf__result .comf_view__result label:first-child {
  margin-left: 0;
}
.ins-slider-container .form-comf__result .comf_view__result label:last-child {
  margin-right: 0;
}
.ins-slider-container .form-comf__result .conf_chat_phone {
  margin-top: 28px;
}
.ins-slider-container .form-comf__result .conf_chat_phone .conf_phone--hotline {
  display: flex;
  justify-content: space-between;
}
.ins-slider-container .form-comf__result .conf_chat_phone .conf_phone--hotline .ins-conf_bgico {
  background: #F3F4F6;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  line-height: 48px;
  text-align: center;
  display: inline-block;
}
.ins-slider-container .form-comf__result .conf_chat_phone .conf_phone--hotline .ins-conf_bgico i {
  color: #2E3038;
  font-size: 18px;
  line-height: 48px;
}
.ins-slider-container .form-comf__result .conf_chat_phone .conf_phone--hotline .conf-need__supports {
  display: flex;
  justify-content: flex-start;
}
.ins-slider-container .form-comf__result .conf_chat_phone .conf_phone--hotline .conf-need__supports .need_sp_text {
  text-align: left;
  margin-left: 16px;
}
.ins-slider-container .form-comf__result .conf_chat_phone .conf_phone--hotline .conf-need__supports .need_sp_text .need_sp_text_line__1 {
  font-size: 13px;
  color: #8E9098;
  font-weight: 400;
  line-height: 20px;
}
.ins-slider-container .form-comf__result .conf_chat_phone .conf_phone--hotline .conf-need__supports .need_sp_text .need_sp_text_line__2 {
  display: block;
  color: #2E3038;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.ins-promotion--banner-container {
  padding: 32px 0;
  background: #FFFFFF;
}
.ins-promotion--banner-container > img {
  width: 100%;
}
.ins-fees {
  padding: 64px 0;
  background: #FFFFFF;
}
.ins-fees .left-fees-section {
  color: #2E3038;
  font-size: 16px;
}
.ins-fees .left-fees-section .fee__only,
.ins-fees .left-fees-section .fee__benefit-to {
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, Sans-serif;
  margin: 0;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
}
.ins-fees .left-fees-section .fee__only {
  margin-top: 32px;
  text-transform: uppercase;
}
.ins-fees .left-fees-section .fee__price {
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, Sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 57px;
  margin-top: 9px;
}
.ins-fees .left-fees-section .fee__benefit-to {
  margin-top: 10px;
  margin-bottom: 11px;
}
.ins-fees .right-fees-section .fee__brand:nth-child(n+3) {
  margin-top: 16px;
}
.ins-fees .right-fees-section .fee__brand .ins__brand--link {
  border: 1px solid #E2E4EC;
  border-radius: 4px;
  background-color: #FFFFFF;
}
.ins-fees .right-fees-section .fee__brand .ins__brand--img {
  text-align: center;
  padding: 18px 0;
}
.ins-benefit-section {
  background: #F3F4F6;
}
.ins-benefit-section .ins__row-benefit {
  background: url("images/banner2.png") no-repeat top left;
}
.ins-benefit-section .ins__row-benefit .ben_container__right {
  padding: 86px 0 110px 60px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #8E9098;
}
.ins-benefit-section .ins__row-benefit .ben_container__right .benefit__name {
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, Sans-serif;
  font-size: 28px;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0;
  color: #2E3038;
}
.ins-benefit-section .ins__row-benefit .ben_container__right .benefit_hour {
  color: #2E3038;
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  margin: 4px 0 9px;
}
.ins-choose-fit {
  background: #FFFFFF;
}
.ins-choose-fit .ins__row--yfriend {
  background: url("images/banner3.png") no-repeat top right;
  padding-top: 64px;
}
.ins-choose-fit .left_choose--benefit {
  color: #8E9098;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  padding-bottom: 64px;
}
.ins-choose-fit .left_choose--benefit .choose__fit_only {
  color: #2E3038;
  font-size: 28px;
  line-height: 32px;
  margin: 0;
}
.ins-choose-fit .left_choose--benefit .choose__fit_you-friend {
  color: #2E3038;
  margin: 10px 0 0;
  font-size: 48px;
  line-height: 60px;
  text-transform: uppercase;
}
.ins-choose-fit .left_choose--benefit .choose__options-fit {
  margin: 22px 0 25px;
  width: 100%;
  clear: both;
  float: left;
}
.ins-choose-fit .left_choose--benefit .choose__options-fit .item {
  cursor: pointer;
  position: relative;
  height: 114px;
  width: 132px;
  border-radius: 4px;
  background-color: #FFFFFF;
  border: 1px solid #E2E4EC;
  text-align: center;
  color: #2E3038;
  line-height: 24px;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease, 0s;
  transition: all 0.2s ease 0s;
  margin: 0 8px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ins-choose-fit .left_choose--benefit .choose__options-fit .item:hover {
  border: 2px solid #E53935;
}
.ins-choose-fit .left_choose--benefit .choose__options-fit .item:first-child {
  margin-left: 0;
}
.ins-choose-fit .left_choose--benefit .choose__options-fit .item:last-child {
  margin-right: 0;
}
.ins-choose-fit .left_choose--benefit .choose__options-fit .item .item__name {
  display: block;
  margin-top: 12px;
}
.ins-choose-fit .left_choose--benefit .choose__options-fit .item i.ins-fit__active {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 24px;
  height: 24px;
  font-size: 24px;
  background: #1CBE55;
  line-height: 27px;
}
.ins-choose-fit .left_choose--benefit .choose__options-fit .ins-fit__plus {
  float: left;
  margin-top: 45px;
  font-size: 24px;
}
.ins-video-section {
  background-color: #F3F4F6;
  padding: 32px 0 128px;
}
.ins-video-section .ins__video--promotion {
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.06);
  padding: 4px 4px 0;
}
.ins-video-section .ins__video--promotion > video {
  width: 100%;
}
.ins-video-section .ins__swiper-video {
  margin-top: 69px;
}
.ins-video-section .ins__swiper-video .ins_main-content_slider {
  max-width: 395px;
  margin: 0 auto;
  color: #2E3038;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  text-align: center;
}
.ins-video-section .ins__swiper-video .swiper-button-next,
.ins-video-section .ins__swiper-video .swiper-button-prev {
  color: #2E3038;
  background-image: none;
  top: 35%;
}
.ins-video-section .ins__swiper-video .swiper-button-prev {
  left: 20px;
}
.ins-video-section .ins__swiper-video .swiper-button-next {
  right: 20px;
}
.ins-video-section .ins__swiper-video.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0 !important;
  left: 0 !important;
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ins-video-section .ins__swiper-video.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  border: 2px solid #FFFFFF;
  background-color: rgba(0, 0, 0, 0.4);
}
.ins-video-section .ins__swiper-video.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  background-color: #E53935;
}
.ins-video-section .ins__swiper-video.swiper-container-horizontal .swiper-wrapper {
  margin-bottom: 70px;
}
.ins-knowledge-section {
  position: relative;
  background: #FFFFFF;
  padding: 152px 0 64px;
}
.ins-knowledge-section .ins__found-insurance {
  position: absolute;
  top: -96px;
  left: 0;
  text-align: center;
  width: 100%;
}
.ins-knowledge-section .ins__found-insurance .form-comf__result {
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  padding: 24px 24px 32px;
  color: #2E3038;
  margin: 0 0 10px;
}
.ins-knowledge-section .ins__found-insurance .form-comf__result .comf__result--name {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin: 0 0 10px;
}
.ins-knowledge-section .ins__found-insurance .form-comf__result .comf__result--date {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 20px;
  color: #8E9098;
}
.ins-knowledge-section .ins__found-insurance .form-comf__result .comf__result--date span {
  color: #2E3038;
}
.ins-knowledge-section .ins__found-insurance .form-comf__result .comf_view__result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ins-knowledge-section .ins__found-insurance .form-comf__result .comf_view__result .ins-dropdown_time {
  display: flex;
}
.ins-knowledge-section .ins__found-insurance .form-comf__result .comf_view__result .ins-dropdown_time .insw_label__custom {
  margin-right: 8px;
}
.ins-knowledge-section .ins__found-insurance .form-comf__result .comf_view__result .ins-dropdown_time .insw_label__custom .comf_column {
  padding-right: 52px;
  width: auto;
}
.ins-knowledge-section .ins__found-insurance .form-comf__result .comf_view__result button.conf_show_results {
  font-size: 16px;
  padding: 12px 99px;
  margin-left: 8px;
}
.ins-knowledge-section .ins__page-insurance-adr .ins-sec__title {
  text-align: center;
  margin: 0;
}
.ins-knowledge-section .ins__page-insurance-adr .row--knl-columns {
  margin-top: 48px;
}
.ins-knowledge-section .ins__page-insurance-adr .row--knl-columns .know__adr-column {
  border: 1px solid #E2E4EC;
  border-radius: 4px;
  padding: 24px 24px 40px;
  position: relative;
  height: 100%;
}
.ins-knowledge-section .ins__page-insurance-adr .row--knl-columns .know__adr-column i.icon__know-active {
  font-size: 42px;
  color: #E53935;
}
.ins-knowledge-section .ins__page-insurance-adr .row--knl-columns .know__adr-column b {
  color: #2E3038;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  margin-top: 15px;
  display: inline-block;
}
.ins-knowledge-section .ins__page-insurance-adr .row--knl-columns .know__adr-column .knowl-sec_more {
  position: absolute;
  right: 16px;
  bottom: 16px;
}
.ins-knowledge-section .ins__page-insurance-adr .row--knl-columns .know__adr-column .knowl-sec_more i.ins_icon--next-q {
  font-size: 24px;
}
.ins-frequently-question {
  padding: 16px 0;
  background: #FFFFFF;
  text-align: center;
}
.ins-frequently-question .ins-fq__name {
  margin: 0 0 48px;
  color: #2E3038;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
}
.ins-frequently-question .ins-fq__column {
  border: 1px solid #E2E4EC;
  border-radius: 4px;
  padding: 24px;
  position: relative;
  height: 100%;
  text-align: left;
  color: #8E9098;
  font-size: 14px;
  line-height: 22px;
}
.ins-frequently-question .ins-fq__column .ins-title {
  color: #2E3038;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin: 0 0 8px;
}
.ins-frequently-question .ins__view-all {
  margin: 32px 0 47px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 12px 102px;
  border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  color: #2E3038;
  background-color: #F3F4F6;
  display: inline-block;
}
/*IP Fail*/
.ip-fail-warp {
  background-color: #ffffff;
  padding: 75px 0 50px;
  color: #2E3038;
}
.ip-fail-warp .ip-fail__inner figure {
  margin-bottom: 10px;
}
.ip-fail-warp .ip-fail__title {
  font-size: 24px;
  font-weight: bold;
  color: #FF7043;
  margin: 0 0 15px;
  line-height: 1.5em;
}
.ip-fail-warp .ip-fail__description {
  font-size: 15px;
  font-weight: 500;
  margin: 0 0 25px;
  line-height: 1.5em;
}
.ip-fail-warp .ip-fail__btn-return {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  padding: 12px 80px;
  border-radius: 5px;
  background: -moz-linear-gradient(90deg, #ea512c 0%, #e53935 100%);
  background: -webkit-linear-gradient(90deg, #ea512c 0%, #e53935 100%);
  background: linear-gradient(90deg, #ea512c 0%, #e53935 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ea512c", endColorstr="#e53935", GradientType=1);
}
.ip-fail-warp .ip-fail__btn-return:before {
  position: absolute;
  top: 50%;
  left: 15px;
  font-family: "adr-icon";
  content: "\e905";
  font-size: 25px;
  font-weight: normal;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ip-fail-warp .ip-fail__help {
  position: relative;
  width: 50%;
  margin: 35px auto 0;
  padding: 30px 0;
}
.ip-fail-warp .ip-fail__help:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #E8EAEE;
}
.ip-fail-warp .ip-fail__help-support {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -8px;
}
.ip-fail-warp .ip-fail__help-col-4 {
  padding: 0 8px;
  -webkit-flex: 0 0 33.333333%;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.ip-fail-warp .ip-fail__help-support-item {
  border: 1px solid #E2E4EC;
  border-radius: 4px;
  padding: 12px 15px;
  height: 100%;
  text-align: left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.ip-fail-warp .ip-fail__help-support-item i {
  font-size: 22px;
  margin-right: 15px;
}
.ip-fail-warp .ip-fail__help-support-content {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.ip-fail-warp .ip-fail__help-support-content a:hover {
  color: #2E3038;
}
.ip-fail-warp .ip-fail__help-support-content span {
  display: block;
  font-size: 13px;
  color: #8E9098;
}
.ip-fail-warp .ip-fail__help-support-content strong {
  display: block;
  font-size: 16px;
}
.ip-thank-you-warp .ip-fail__title {
  color: #1CBE55;
}
.ip-thank-you-warp .ip-fail__help .ip-fail__title {
  color: #2E3038;
}
.ip-title-name-consumer {
  font-size: 16px;
  font-weight: bold;
}
.ip-thank-you-order-number {
  display: inline-block;
  color: #ffffff;
  padding: 6px 35px;
  font-size: 16px;
  font-weight: bold;
  background-color: #1CBE55;
  border-radius: 5px;
}
.ip-thank-you__next {
  margin-top: 65px;
}
.ip-thank-you__next .ip-thank-you__next-line {
  position: relative;
  margin-bottom: 75px;
  padding-bottom: 5px;
}
.ip-thank-you__next .ip-thank-you__next-line:before {
  position: absolute;
  top: -32px;
  left: 50%;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.ip-thank-you__next .ip-thank-you__next-line.icon-line:before {
  font-family: "adr-icon";
  content: "\e90c";
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  background-color: #1CBE55;
}
.ip-thank-you__next .ip-thank-you__next-line.round-line:before {
  content: '';
  background-color: #D8D8D8;
  border: 7px solid #E53935;
}
.ip-thank-you__next .ip-thank-you__next-line:after {
  position: absolute;
  content: '';
  width: 1px;
  height: 32px;
  left: 50%;
  top: 100%;
  margin-left: -0.5px;
  background-color: #D6D8E0;
}
.ip-thank-you__next .ip-thank-you__next-line:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.ip-thank-you__next .ip-thank-you__next-line:last-child:after {
  display: none;
}
.ip-thank-you__next .ip-thank-you__next-line span {
  display: block;
}
.ip-thank-you__next .ip-thank-you__next-line .ip-thank-you__next-line-title {
  font-size: 16px;
  font-weight: bold;
}
.ip-thank-you__next .ip-thank-you__next-line .ip-thank-you__next-line-sub-title {
  font-size: 15px;
  font-weight: 500;
  margin-top: 5px;
}
.ip-thank-you__approved-declined {
  position: relative;
  margin-top: 50px;
}
.ip-thank-you__approved-declined .ip-thank-you__text-or {
  position: absolute;
  top: 30px;
  left: 50%;
  padding: 2px 15px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  z-index: 2;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.ip-thank-you__approved-declined-item {
  background-color: #F3F4F6;
  padding: 15px 35px;
}
.ip-thank-you__approved-declined-item i.adr-icon {
  font-size: 18px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 50%;
  font-weight: bold;
}
.ip-thank-you__approved-declined-item i.adr-icon.icon-success-new {
  color: #1CBE55;
}
.ip-thank-you__approved-declined-item i.adr-icon.icon-error {
  color: #FF7043;
}
.ip-thank-you__approved-declined-item .approved-title,
.ip-thank-you__approved-declined-item .declined-title {
  font-size: 16px;
  margin: 10px 0 15px;
}
.ip-thank-you__approved-declined-item .approved-title {
  color: #1CBE55;
}
.ip-thank-you__approved-declined-item .declined-title {
  color: #FF7043;
}
.ip-thank-you__approved-declined-item .approved-declined-description {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}
.ip-thank-you__will-get {
  border: 1px solid #E2E4EC;
  border-radius: 4px;
  padding: 45px 50px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.ip-thank-you__will-get .ip-thank-you__will-get-item {
  padding: 0 5px;
}
.ip-thank-you__will-get .ip-thank-you__will-get-item i.adr-icon {
  display: inline-block;
  height: 64px;
  width: 64px;
  line-height: 64px;
  border-radius: 50%;
  font-size: 30px;
  color: #2E3038;
  background-color: #F3F4F6;
}
.ip-thank-you__will-get .ip-thank-you__will-get-item .ip-thank-you__will-get-item-text {
  display: block;
  font-size: 15px;
  font-weight: 500;
  margin-top: 15px;
}
